{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block y %}
<div class="container">
	<img class="image" src="/remote_video">
</div>
<div class="container">
	<form action="/remote_action" method="post" target="hiddenFrame">
		<div class="button_row button_row1">
			<button class="button" type="submit" name="button_power">Power</button>
		</div>
		<div class="button_row button_row2 buttons_centered">
			<button class="button" type="submit" name="button_up">Up</button><br>
		</div>
		<div class="button_row button_row3 buttons_centered">
			<button class="button" type="submit" name="button_left">Left</button>
			<button class="button" type="submit" name="button_enter">Enter</button>
			<button class="button" type="submit" name="button_right">Right</button>
		</div>
		<div class="button_row button_row4 buttons_centered">
			<button class="button" type="submit" name="button_down">Down</button>
		</div>
		<div class="button_row button_row5 buttons_centered">
			<button class="button" type="submit" name="button_back">Back</button>
			<button class="button" type="submit" name="button_menu">Menu</button>
		</div>
		<div class="button_row button_row6 buttons_centered">
			<button class="button" type="submit" name="button_volume_up">Volume Up</button>
			<button class="button" type="submit" name="button_volume_down">Volume Down</button>
		</div>
	</form>
</div>


<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
{% endblock %}